.pagination {
  display: flex;
  justify-content: end;
  margin-top: 20px;




  .page-button {
    border: none;
    background: none;
    padding: 10px 15px;
    font-size: 18px;
    //color: black;
  }

  .pagination-button {
    // padding: 0px 15px;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border: 50%;
    border: 3px solid #ccc;
    padding: 0px 15px;
    margin: 0 2px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      background-color: #007bff;
      color: #fff;
    }
  }
}
