.createPassword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: var(--height);
  background: var(--bg-color);
  h2 {
    width: 330px;
  }
  .createPasswordInput {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    input {
      width: 330px;
      height: 40px;
      border: none;
      padding-left: 20px;
      font-family: "inter";
    }
    ::placeholder {
      font-family: "inter";
    }
    .iconHide {
      .spanIconHide {
        position: absolute;
        top: 0.7rem;
        left: 27.5rem;
        font-size: 25px;
        cursor: pointer;
        color: #aaaaaa;
      }
    }
    .iconHideTwo {
      .spanIconHideTwo {
        position: absolute;
        top: 8rem;
        left: 27.5rem;
        font-size: 25px;
        cursor: pointer;
        color: #aaaaaa;
      }
    }
  }
  .createPasswordBtn {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .btn {
      border: 1px solid rgba(0, 0, 65, 1);
      width: 330px;
      height: 45px;
      border-radius: 30px;
      font-family: "inter";
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 400ms;
      &:hover {
        background-color: var(--bg-color-blue);
        color: white;
      }
    }
    .createPasswordBtnGoogle {
      .createPasswordBtnIcon {
        position: absolute;
        z-index: 10;
        top: 7.8rem;
        left: 45px;
      }
      .btnG {
        border: 1px solid rgba(0, 0, 65, 1);
        width: 330px;
        height: 45px;
        border-radius: 30px;
        font-family: "inter";
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 400ms;
        &:hover {
          background-color: var(--bg-color-blue);
          color: white;
        }
      }
    }
  }
  .textBtn {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .comeText {
      display: flex;
      justify-content: center;

      b {
        margin-left: 10px;
        cursor: pointer;
        transition: 400ms;
        &:hover {
          color: red;
        }
      }
    }
  }
}
