.loginPage {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  height: var(--height);
  background: var(--bg-color);

  .loginRole {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    color: #000000;
    margin-right: 10px;
    h2 {
      font-size: 20px;
    }
    span {
      font-size: 12px;
    }
  }

  .loginInput {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;

    .iconHide {
      position: absolute;
      top: 6.7rem;
      left: 27rem;
      cursor: pointer;
      .spanIconHide {
        font-size: 25px;
        color: #aaaaaa;
      }
    }

    input {
      width: 330px;
      height: 40px;
      border-radius: 6px;
      padding-left: 20px;
      font-size: 18px;
      border: none;
      font-family: "inter";
      font-weight: 600;
      border: none;
      outline: none;
    }
    ::placeholder {
      font-size: 14px;
      font-family: "inter";
      font-weight: 500;
      color: #aaaaaa;
    }
  }
  .loginRegistration {
    display: flex;
    flex-direction: column;
    gap: 20px;

    button {
      width: 330px;
      height: 49px;
      border-radius: 30px;
      color: #000000;
      font-weight: 600;
      border: none;
      font-family: "inter";
      font-size: 16px;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      transition: 300ms;
      &:hover {
        color: #ffffff;

        background: #4a6dff;
        cursor: pointer;
        border: none;
      }
    }
  }
  .forgot {
    cursor: pointer;
    width: 310px;
    display: flex;
    justify-content: flex-end;
    span {
      transition: 400ms;
      color: #b6b6b6;
      margin-top: -15px;
      font-size: 12px;
      font-family: var(--font-family-main);
      letter-spacing: 0.5px;
      &:hover {
        color: red;
      }
    }
  }
  .btnGoogle {
    display: flex;
    align-items: center;
    position: relative;
  }
  .iconsGoogle {
    font-size: 20px;
    position: absolute;
    left: 50px;
    top: 15px;
  }
  .loginAccount {
    font-size: 16px;
    b {
      cursor: pointer;
      transition: 400ms;
      letter-spacing: 0.5px;
      margin-left: 10px;
      &:hover {
        transform: scale(1.1);
        color: red;
      }
    }
  }
}
