.modalInvite {
  top: 25%;
  left: 32%;

  .fonModal {
    position: absolute;
    background-color: rgba(85, 77, 77, 0.4);
    width: 207.8vh;
    height: 100vh;
    z-index: 10;
    top: 0;
  }
  .modalContainer {
    position: absolute;
    top: 20%;
    left: 33%;
    width: 55rem;
    height: 47rem;
    border-radius: 20px;
    z-index: 11;
    background: white;
    padding: 20px;
    .containerIcon {
      display: flex;
      justify-content: flex-end;
      .iconClose {
        width: 23px;
        display: flex;
        justify-content: end;
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }

    .modalContent {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h2 {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
      .modalText {
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: 1px solid #dddddd;
        padding: 20px;
      }
    }
  }
  .lineModal {
    line-break: auto;
    border: 2px dashed #0088ff;
    position: absolute;
    padding: 10px;
    margin-top: 20px;
    width: 51rem;
    height: 10vh;

    p {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #0088ff;
      height: 7vh;
    }
  }
  .btnContainer {
    height: 21vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .btnModalInvite {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 20vh;
    height: 5vh;
    font-family: 'inter';
    background: #4a6dff;
    font-size: 16px;
    color: white;
  }
}
