.brandGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1.5rem;
  margin: 2rem 0 1rem;
  padding: 0.05px;

  &__pic {
    box-shadow: 0 0 1rem 0.1rem rgba(0, 0, 0, 0.08);
    border: 0.1rem solid rgba(195, 195, 195, 0.4);
    border-radius: 50%;
    width: 7.1rem;
    aspect-ratio: 1 / 1;
  }

  &__text {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.178rem;

    &--noName {
      color:rgb(115, 115, 115);
      font-style: italic;
    }
  }

  &--farther {
    margin-top: clamp(4rem, 2vh + 1rem, 8rem);
    // margin-top: 4.5rem;
  }


}